<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.smartgekko.recyclerdiary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/diary_ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/diary_ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyclerDiary">
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>